@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: #F2EBDF;
    font-family: 'Patua One', sans-serif;
}

.button-stuff {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: absolute;
    opacity: .3;
}