@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

header,
footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Patua One', cursive;
}

header h1 {
    font-size: 60px;
}

.animation {
    height: 100vh;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    position: relative;
    overflow: hidden;
}

.paper-plane {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}