                                    @import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
                                * {
                                    margin: 0 !important;
                                    padding: 0 !important;
                                    box-sizing: border-box;
                                    font-family: 'Patua One', cursive;
                                }
                                
                                header,
                                footer {
                                    height: 100vh;
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;
                                }
                                
                                body>h1 {
                                    position: absolute;
                                    opacity: .3;
                                }
                                
                                header h1 {
                                    font-size: 60px;
                                }
                                
                                .animation {
                                    height: 100vh;
                                    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
                                    position: relative;
                                    overflow: hidden;
                                }
                                
                                .dot {
                                    color: white;
                                    font-size: 60px;